.carousel-inner{
    display: flex;
}

.carousel-item{
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/3);
}

.carousel-inner{
    padding: 1em;
}

.card{
    margin: 0.5em;
}






.comments-list{
    display: flex;
}

.comment-item{
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/4);
}